<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440630945257-d3gbupl3uaafv10sib53r2q6eh4mqpku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440630945257-d3gbupl3uaafv10sib53r2q6eh4mqpku</string>
	<key>API_KEY</key>
	<string>AIzaSyDCO4L9zqoOIWOhXZl9F7tMSsRvjRw0gKs</string>
	<key>GCM_SENDER_ID</key>
	<string>440630945257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dixieai.mobile</string>
	<key>PROJECT_ID</key>
	<string>dixie-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>dixie-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440630945257:ios:d3gbupl3uaafv10sib53r2q6eh4mqpku</string>
</dict>
</plist> 